{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["react-hot-loader/babel", "@babel/plugin-syntax-dynamic-import"],
  "targets": ["last 2 versions", "not dead", "not < 2%"]
}
